/*This line of code populates to each and every element in th HTML file; border-box specifies the width and height of each elements' border and padding; the margin and padding is set at 0 to remove the default setting*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*This line of code populates the background-color (d9dcd6 type of grey) of the body*/
body {
    background-color: #d9dcd6;
}

/*This line of code provides the padding: 20px; font-family: 'trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; background-color:#2a607c; color: #ffffff*/
.header {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*This line code populates the display and font-size: 48px*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*The line code populates the color: #d9dcd6 (a type of grey)*/
.header h1 .seo {
    color: #d9dcd6;
}

/*This line of code populates a padding-top: 15px; margin-right:20px; float: right; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-sarif; font-size:20px*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*This line of code populates specific instrutions to the browser*/
.header nav ul {
    list-style-type: none;
}

/*This line of code populates display:inline-block; and margin-left: 25px*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Anchor Properties*/ 
a {
    color: #ffffff;
    text-decoration: none;
}

/*Paragraph Properties*/
p {
    font-size: 16px;
}

/*Marketing Team Image Properties*/
.hero {
    height: 1000px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meetiassets\images\digital-marketing-meeting.jpgng.jpg");
    background-size: cover;
    background-position: center;
}

/*Content Image Placement*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Content details*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Benefit Details*/
.benefits {
    margin-right: 20px;
    padding: 40px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*The benefit-inner of margin-bottom and color*/
.benefit-inner {
    margin-bottom: 32px;
    color: #ffffff;
}

/*The benefit-inner coloring and font size*/
.benefit-inner h2 {
    margin-bottom: 10px;
    text-align: center;
}

/*The benefit-inner details of Text-Box*/
.benefit-inner img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Size of the Details Text-Box*/
.Details {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Details of the IMG*/
.Details img {
    max-height: 200px;
}

/*Details of the h2*/
.Details h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Footer details*/
.footer {
    padding: 40px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
}